<% content_for :title, "conversation" %>

<script>
(function () {
  var config = this.App.config || (this.App.config = {}, this.App.config);
  config.channel = 'MessagesChannel';
  config.conversationId = '<%= @conversation.id %>';
  config.currentUserId = '<%= current_user.id %>';
}).call(this);
</script>

<div class="conversation">
  <div class="conversation-view" >
    <%= render @read_messages %>

    <% if @has_unread_messages %>
      <div class="conversation-unread" id="unread-link">
        <div class="conversation-unread-label">以下是未读消息</div>
      </div>
      <%= render @unread_messages %>
    <% end %>

  </div>

  <div class="conversation-form">
    <%= form_for :message do |f| %>
      <%= f.text_area :body, class: 'form-control' %>
      <%= hidden_field_tag "message[user_id]", current_user.id %>
      <%= hidden_field_tag "message[conversation_id]", @conversation.id %>
    <% end %>
  </div>
</div>

<%= javascript_pack_tag 'conversation' %>
