<div class="global-bar global-bar-wrapper">
  <div class="container">
    <nav class="navbar">
      <ul class="list-inline menus">
        <li class="navbar-menu">
          <%= link_to(@root_path, :class => 'navbar-menu__link') do %>
            <span class="iconfont icon">&#xe607;</span>
            <span>Home</span>
          <% end %>
        </li>
        <li class="navbar-menu">
          <%= link_to("#", :class => 'navbar-menu__link') do %>
            <span class="iconfont icon">&#xe614;</span>
            <span>Notifi</span>
          <% end %>
        </li>
      </ul>
    </nav>
  </div>
  <div class="profile-dropdown">
    <% if logged_in? %>
      <%= link_to('#', :class => 'profile-dropdown__link') do %>
        <%= gravatar_for @current_user %>
        <span><%= @current_user.email %></span>
      <% end %>
    <% else %>
      <%= link_to('#', :class => 'profile-dropdown__link') do %>
        <span>Login</span>
      <% end %>
    <% end %>
  </div>
</div>
