<div class="container">
  <header>
    <nav class="nav">
      <div class="nav-left"><%= link_to "Trust", root_path, id: "logo" %></div>
      <div id="nav-menu" class="nav-right nav-menu">
        <%= link_to "Home", root_path, :class => "nav-item" %>
        <%= link_to "Help", help_path, :class => "nav-item" %>
        <%= link_to "React Demo", react_path, :class => "nav-item" %>
        <% if logged_in? %>
        <%= link_to "Users", users_path, :class => "nav-item" %>
        <% else %>
        <%= link_to "Log in", login_path, :class => "nav-item" %>
        <% end %>
      </div>
    </nav>
  </header>
